@model mvcmodelfirstproject.Models.Kullanicilar
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top:50px;">
        <h2>Lütfen giriş yapınız</h2>
        @ViewBag.Message
        @using (Html.BeginForm("Login", "Security", FormMethod.Post))
        {
            <div class="form-group" style="width:500px; margin-top:10px;">
                @Html.LabelFor(x => x.kullaniciAdi)
                @Html.TextBoxFor(x => x.kullaniciAdi, new { @class = "form-control", placeholder = "kullanici Adi" })
            </div>
            <div class="form-group" style="width: 500px; margin-top: 20px;">
                @Html.LabelFor(x => x.Sifre)
                @Html.PasswordFor(x => x.Sifre, new { @class = "form-control", placeholder = "sifre" })
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Giriş Yap</button>
        }
    </div>
</body>
</html>
